*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
}

.tabs{
    display: flex;
}

.tabs .tab{
    font-size: 1rem;
    text-align: center;
    width: 90px;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #FF9E1B;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.tab p{
    font-weight: bold;
}

.items {
    width: calc( 3 * (90px + 2px) - 2 * 10px );
    display: none;
    padding: 10px;
    background-color: #FFFFFF;
    position: relative;
}

.items::before{
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    width: 90px;
    height: 5px;
    background-color: #000000;
}

.items:nth-child(2)::before{
    left: 93px;
    background-color: #000000;
}

.items:nth-child(3)::before{
    left: 185px;
    background-color: #000000;
}

.items.active{
    display: inline-block;
}

.items h1{
    font-size: 1rem;
    margin: 2px 0px;
}